/*
Author       : Theme_Ocean.
Template Name: Radhuni - Restaurant HTML5 Template
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START OUR STORY DESIGN
    05. START SERVICE DESIGN
    06. START MENU PORTFOLIO DESIGN
    07. START OUR CHEFS DESIGN
    08. START RESERVATION DESIGN
    09. START BLOG DESIGN
    10. START TESTIMONIAL DESIGN
    11. START MAP DESIGN
    12. START FOOTER TOP DESIGN
    13. START FOOTER BOTTOM DESIGN 
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
    font-family: "Helvetica Neue" ,sans-serif;
    font-size: 14px;
    color: #787878;
	line-height: 26px;
    margin: auto;
    background: #fff;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 700;
}
a {
    font-family: "Helvetica Neue",sans-serif;
    text-decoration: none;
	font-weight: 700;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p {margin-bottom:0;}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.status,
.status-mes {
    background-image: url(../img/status.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
    background: #ccad52 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: fixed;
    right: 5px;
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.topcontrol:hover {
    background: #222;
    color: #fff;
}
/*END SCROLL TO TOP*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title  h2 {
    background: #ccad52 none repeat scroll 0 0;
    border: 4px double #fff;
    font-size: 26px;
    color: #fff;
    margin: auto;
    padding: 30px 0;
    position: relative;
    text-transform: uppercase;
    width: 250px;
}
@media only screen and (max-width:480px) { 
    .section-title h2 { font-size: 24px;width: 300px; }
}
@media only screen and (max-width:320px) { 
    .section-title h2 { font-size: 18px }
}
@media only screen and (max-width:768px) { 
.section-title p {
font-size: 12px;
padding: 0 2px;
}
}
.section-title-white {
    position: relative;
    color: #fff!important;
}
h2.section-title-white {
    background: #fff none repeat scroll 0 0;
    border: 4px double #ddd;
    color: #333 !important;
}
/*END SECTION TITLE DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ccad52 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ccad52 !important;
    background-color: transparent;
}
.navbar-brand { padding: 0px }
.navbar-brand img {
    width: 200px;
    margin-left: 10px;
}
@media only screen and (max-width:768px) { 
.navbar-brand img {width: 130px;}
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #fff }
.menu-top li a {
color: #fff !important;
font-family: Helvetica Neue,sans-serif;
font-size: 13px;
font-weight: normal;
text-transform: uppercase;
}
.menu-top li a:hover { color: #ccad52!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
.menu-top li a {font-size: 11px;}	
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
	 .navbar-default .navbar-nav > li > a { 
	color: #313131  !important;
	padding: 5px 5px 5px 20px;
	}
}
.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink li a { color: #313131!important }
.navbar-default.menu-shrink li a:hover { color: #ccad52 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #ccad52 }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
#home-slider {
    overflow: hidden;
    position: relative;
}
.caption {
    color: #fff;
    left: 0;
    margin-top: -104px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 15;
}
@media only screen and (max-width:360px) { 
    .caption { top: 40% }
}
.caption h2 {
color: #fff;
font-size: 70px;
margin-bottom: 20px;
margin-top: 0;
text-transform: capitalize;
}
@media only screen and (max-width:768px) { 
    .caption h2 { font-size: 40px }
}
@media only screen and (max-width:480px) { 
    .caption h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width:320px) { 
    .caption h2 { font-size: 24px }
}
.caption p {
    margin: auto auto 0px;
    width: 60%;
}
.caption a { margin: 30px 0 0 30px }
@media only screen and (max-width:480px) { 
.caption a { margin: 30px 0 0 0px }
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.carousel-fade .carousel-inner .item:after {
background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
bottom: 0;
content: " ";
left: 0;
opacity: 0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
position: absolute;
right: 0;
top: 0;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-control { z-index: 2 }
.left-control,
.right-control {
background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
border-radius: 30px;
color: #fff;
font-size: 24px;
height: 51px;
line-height: 48px;
position: absolute;
text-align: center;
top: 50%;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
width: 51px;
z-index: 20;
}
@media only screen and (max-width:480px) { 
    .left-control,
    .right-control { display: none }
}
.left-control { left:40px }
.right-control { right:40px }
.left-control:hover,
.right-control:hover {
    background-color: #ccad52;
    color: #fff;
}
#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}
.btn-light-bg {
background: #ccad52 none repeat scroll 0 0;
border: 2px solid #ccad52;
border-radius: 0;
color: #fff;
padding: 13px 35px;
text-transform: uppercase;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
font-family: Helvetica Neue,sans-serif;
font-weight: 700;
}
.btn-light-bg:hover,
.btn-light-bg:focus {
    background: #fff;
	border: 2px solid #fff;
    color: #333;
}
.btn-light-bg-two {
    background: #fff none repeat scroll 0 0;
    color: #333;
    padding: 13px 35px;
	border: medium none;
	border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.btn-light-bg-two:hover,
.btn-light-bg-two:focus {
    background: #ccad52;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 04.START OUR STORY DESIGN
* ----------------------------------------------------------------------------------------
*/
.about-us-content h2 { margin: 0 }
@media only screen and (max-width:768px) { 
    .about-us-content h2 { font-size: 24px }
}
.about-line {
    background: #ccad52 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 20px 0;
    width: 80px;
}
.about-us-content h2 span { color: #ccad52 }
.about-us-content p { margin-bottom: 30px }
@media only screen and (max-width:768px) { 
    .about_img { margin-top: 30px }
}
/*
* ----------------------------------------------------------------------------------------
* 04.END OUR STORY DESIGN
* ----------------------------------------------------------------------------------------
*/



/*
* ----------------------------------------------------------------------------------------
* 05.START SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/

.radhuni_service{background:#f6f6f6;}

.single_service{
background: #fff none repeat scroll 0 0;
padding: 30px;
-webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}
@media only screen and (max-width:768px) { 
.single_service{margin-bottom:30px;}
}
.single_service:hover{
background:#ccad52;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
-webkit-transform:translateY(-10px);
        transform:translateY(-10px);
}
.single_service i{
background: #ccad52 none repeat scroll 0 0;
border-radius: 500px;
color: #fff;
font-size: 40px;
height: 100px;
line-height: 100px;
margin-bottom: 20px;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
width: 100px;
}
.single_service:hover i{
background: #fff none repeat scroll 0 0;
color:#ccad52;
}
.single_service h4{
text-transform: uppercase;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.single_service:hover h4{color:#fff;}
.single_service p{
margin-bottom:0;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.single_service:hover p{color:#fff;}

/*
* ----------------------------------------------------------------------------------------
* 05.END SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/













/*
 * ----------------------------------------------------------------------------------------
 *  06.START MENU PORTFOLIO DESIGN
 * ----------------------------------------------------------------------------------------
*/
.our_menu{padding-top:60px;padding-bottom:30px;}
.the_gallery{padding-top:60px;padding-bottom:30px;}
.mix_all{
display:none ;
}
.portfolio-filters { margin-bottom: 30px }
.portfolio-filters li.active {
color: #ccad52;
}
.portfolio-filters li {
    color: #161616;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica Neue;
    font-weight: 400;
    margin-right: 5px;
    padding: 8px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
@media only screen and (max-width:480px) { 
    .portfolio-filters li { 
	padding: 8px 24px;
	margin-bottom:10px 
}
}

.portfolio-filters li:hover {
    color: #ccad52;
}

ul.portfolio-items-list{list-style:none}
.grid{margin-bottom:30px;}
.grid figure {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
}
.grid figure figcaption {
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.grid figure h4,
.grid figure p { margin: 0 }
.grid figure p {
    font-size: 16px;
    letter-spacing: 1px;
}
.grid figure p a { color: #fff }
figure.effect-sadie figcaption:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(204, 173, 82, 0) 0%, rgba(204, 173, 82, 0.8) 75%);
    background: -webkit-linear-gradient(top, rgba(204, 173, 82, 0) 0%, rgba(2204, 173, 82, 0.7) 75%);
    background: -webkit-linear-gradient(top, rgba(204, 173, 82, 0) 0%, rgba(204, 173, 82, 0.7) 75%);
    background: linear-gradient(to bottom, rgba(204, 173, 82, 0) 0%, rgba(204, 173, 82, 0.7) 75%);
    content: '';
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}
figure.effect-sadie h4 {
color: #fff;
left: 30%;
letter-spacing: 1px;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
padding: 15px 0;
position: absolute;
top: 83%;
-webkit-transform: translate3d(0px, -50%, 0px);
        transform: translate3d(0px, -50%, 0px);
-webkit-transition: color 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
transition: color 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
transition: transform 0.35s ease 0s, color 0.35s ease 0s;
transition: transform 0.35s ease 0s, color 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
width: 40%;
}
figure.effect-sadie figcaption:before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}
figure.effect-sadie:hover h4 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover figcaption:before,
figure.effect-sadie:hover p {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}




/*
 * ----------------------------------------------------------------------------------------
 *  06.END MENU PORTFOLIO DESIGN
 * ----------------------------------------------------------------------------------------
*/







/*
 * ----------------------------------------------------------------------------------------
 * 07.START OUR CHEFS DESIGN
 * ----------------------------------------------------------------------------------------
 */
.single_team{
	margin-top: 30px;
}
.single_team h3{
	color: #ccad52;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 15px;
	text-transform: uppercase;
}
.img_wrap{
	position:relative;
}
.img_wrap img {
  width: 100%;
}
.social_link{
	height: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	text-align: center;
	top: 0;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
	background: rgba(204, 173, 82, .75);
	-webkit-transform: scale(0);
	        transform: scale(0);
}
.img_wrap:hover .social_link{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
	-webkit-transform: scale(1);
	        transform: scale(1)
}
.social_table{
	display: table;
	height: 100%;
	width: 100%;	
}
.social_table ul{
	list-style: none;
	display: table-cell;
	list-style: outside none none;
	padding: 0;
	vertical-align: middle;
}
.social_table ul a{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #333;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 40px;
}
.social_table ul a:hover{
background: #fff none repeat scroll 0 0;
	color: #ccad52;
	border-color: #fff;
}
/*
 * ----------------------------------------------------------------------------------------
 * 07.END OUR CHEFS DESIGN
 * ----------------------------------------------------------------------------------------
 */




/*
* ----------------------------------------------------------------------------------------
* 08.START RESERVATION DESIGN
* ----------------------------------------------------------------------------------------
*/
.contact_area { position: relative }
.contact_area:before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.contact {
background: #fff;
padding: 60px;
}
.contact i {
padding-left: 15px;
padding-top: 15px;
position: absolute;
}
.contact input {
background: #f6f6f6 none repeat scroll 0 0;
border: 1px solid #f6f6f6;
border-radius: 0;
box-shadow: none;
color: #333;
height: 45px;
padding: 10px 10px 10px 35px;
}
.contact textarea {
background: #f6f6f6 none repeat scroll 0 0;
border: 1px solid #f6f6f6;
border-radius: 0;
box-shadow: none;
color: #333;
padding: 10px 10px 10px 35px;
}
.contact input:hover,
.contact input:focus {
    border: 1px solid #ccad52 ;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:hover,
.contact textarea:focus {
    border: 1px solid #ccad52 ;
    box-shadow: none;
    outline: 0 none;
}
.btn-contact-bg {
background: #ccad52 none repeat scroll 0 0 !important;
border: 2px solid #ccad52 !important;
color: #fff !important;
font-family: Helvetica Neue,sans-serif;
font-size: 14px;
padding: 10px 30px !important;
text-transform: uppercase;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #fff!important;
    border: 2px solid #ccad52!important;
    color: #333!important;
}
/*
* ----------------------------------------------------------------------------------------
* 08.END RESERVATION DESIGN
* ----------------------------------------------------------------------------------------
*/




/*
* ----------------------------------------------------------------------------------------
* 09.START BLOG DESIGN
* ----------------------------------------------------------------------------------------
*/
@media only screen and (max-width:768px) { 
    .home_single_blog {margin-bottom: 30px;
position: relative;
overflow: hidden; }
}
.home_single_blog img { width: 560px }
@media only screen and (max-width:768px) { 
    .home_single_blog img { width: 100% }
}
.home_blog_text {
background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
margin: 25% auto auto;
padding: 30px;
position: relative;
width: 90%;
z-index: 1;
}
.home_blog_text span {
color: #ccad52;
text-transform: uppercase;
}
.home_blog_text p { margin-bottom: 20px }
/*END HOME BLOG*/
.single_blog {
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
}
.blog-text {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    margin: 14% auto auto;
    padding: 30px;
    position: relative;
    width: 80%;
    z-index: 1;
}
@media only screen and (max-width:480px) { 
    .blog-text { width: 50% }
}
@media only screen and (max-width:360px) { 
    .blog-text { width: 80% }
}
@media only screen and (max-width:480px) { 
    .blog-text { width: 70% }
}
.blog-text i { color: #eb2e4a }
.blog-text span {
    color: #eb2e4a;
    text-transform: uppercase;
    margin-right: 15px;
}
.blog-text h4 { margin: 20px 0 }
.blog-text p { margin-bottom: 20px }
.blog-photo {
    position: absolute;
    top: 0;
}
/*
* ----------------------------------------------------------------------------------------
* 09.END BLOG DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 10.START TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/
.testimonials {
    position: relative;
    height: auto;
    z-index: 1;
}
.testimonials:before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.testimonials .flexslider {
background: rgba(255, 255, 255, 0.72) none repeat scroll 0 0;
border: 0 none;
margin: 0;
}
.testimonials .flexslider .testi-slider-item {
    padding: 30px 60px;
    text-align: center;
}
.testimonials .flexslider .testi-slider-item img {
    border-radius: 50%;
    height: 100px;
    margin: 20px auto;
    width: 100px;
}
.testimonials .flexslider .testi-slider-item h6 {
color: #222;
font-size: 14px;
letter-spacing: 1px;
margin-bottom: 0;
text-transform: uppercase;
}
.testimonials .flexslider .testi-slider-item p {
color: #000;
font-style: italic;
font-weight: 400;
line-height: 30px;
}
@media only screen and (max-width:360px) { 
.testimonials .flexslider .testi-slider-item p  {line-height: 24px;font-size: 16px; }
}
.testimonials .flex-direction-nav a {
    background: #ccad52 none repeat scroll 0 0;
    border-radius: 100px;
    box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 45px;
    line-height: 50px;
    margin: -20px 0 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none !important;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 45px;
    z-index: 10;
}
.testimonials .flex-direction-nav a i {
    display: inline-block;
    font-size: 25px;
}
.testimonials .flex-direction-nav a:before { display: none }
.testimonials .flex-direction-nav a.flex-next:before { display: none }
.testimonials .flex-control-paging li a {
    background: #222 none repeat scroll 0 0;
    border: 1px solid #222;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 6px;
    text-indent: -9999px;
    width: 6px;
}
.testimonials .flex-control-paging li a:hover {
    background: #00bcd4 none repeat scroll 0 0;
    border-color: #00bcd4;
}
.testimonials .flex-control-paging li a.flex-active {
    background: #00bcd4 none repeat scroll 0 0;
    border-color: #00bcd4;
    cursor: default;
}
.flex-control-nav {display: none;}
/*
* ----------------------------------------------------------------------------------------
* 10.END TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 11.START MAP DESIGN
* ----------------------------------------------------------------------------------------
*/



#map{height:400px;}

/*
* ----------------------------------------------------------------------------------------
* 11.END MAP DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 12.START FOOTER TOP DESIGN
* ----------------------------------------------------------------------------------------
*/

.footer_top{background: #171b1e none repeat scroll 0 0;}
.single_footer{padding: 0 10px;}
.single_footer h4{
color: #fff;
letter-spacing: 1px;
margin-bottom: 30px;
text-transform: uppercase;
}
.single_footer p{
color: #aaa;
margin-bottom: 20px;
}

@media only screen and (max-width:480px) { 
.single_footer{margin-bottom: 30px;}
}
ul.contact_address {list-style: none;}
ul.contact_address li{color: #aaa;}
ul.contact_address li i{
color: #aaa;
line-height: 30px;
margin-right: 20px;
}

.opening-times{}
ul.opening-times{list-style: none;}
ul.opening-times li{
color: #fff;
font-weight: 600;
line-height: 30px;
}
ul.opening-times li span{
float: right;
color: #aaa;
}
.closed{
background: #ccad52;
color: #fff!important;
padding: 0 10px;
border-radius: 30px;
}

.signup input{
background: #121315 none repeat scroll 0 0;
border: 1px solid #121315;
border-radius: 0 !important;
box-shadow: none !important;
color: #fff;
font-size: 14px !important;
height: 45px;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.signup input:hover,.signup input:focus{
border: 1px solid #ccad52;
}
.btn-newsletter-bg{
background: #121315 none repeat scroll 0 0;
border: 1px solid #121315;
color: #fff;
margin-top: 15px;
padding: 10px 30px;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.btn-newsletter-bg:hover,.btn-newsletter-bg:focus{
background: #ccad52 none repeat scroll 0 0;
border: 1px solid #ccad52;
color: #fff;
}


/*
* ----------------------------------------------------------------------------------------
* 12.END FOOTER TOP DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 13.START FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
    background-color: #121315;
    padding: 20px 0;
}
@media only screen and (max-width:480px) { 
    .footer_social {
        float: none !important;
        margin-top: 30px;
    }
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:480px) { 
    .footer_social ul { text-align: center }
}
.footer_social ul li {
    margin: 2px;
    display: inline-block;
}
.footer_social ul li a {
border-radius: 0;
color: #fff;
display: block;
font-size: 15px;
height: 40px;
line-height: 40px;
padding: 0;
text-align: center;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
width: 40px;
}
@media only screen and (max-width:768px) { 
    .footer_social ul li a { font-size: 12px }
}
@media only screen and (max-width:360px) { 
    .footer_social ul li a { font-size: 14px }
}
@media only screen and (max-width:320px) { 
    .footer_social ul li a {
        font-size: 14px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}
.footer_social ul li a:hover { color: #fff }
.footer_facebook:hover { background: #5D82D1 }
.footer_twitter:hover { background: #40BFF5 }
.footer_google:hover { background: #EB5E4C }
.footer_linkedin:hover { background: #238CC8 }
.footer_youtube:hover { background: #CC181E }
.footer_skype:hover { background: #00AFF0 }
.footer_copyright {
    color: #fff;
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
}
@media only screen and (max-width:480px) { 
    .footer_copyright {
        float: none !important;
        text-align: center;
    }
}
/*
* ----------------------------------------------------------------------------------------
* 13.END FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/
