{% extends 'main1.html' %}
{% block content %}
{%load staticfiles%}
  <div class="page-content">
    <div class="content container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">غذا</h2>
        </div>
        <div class="col-md-12 ">
          <div class="widget">
            <div class="widget-header"> <i class="icon-file-alt"></i>
              <h3> ادیت کردن اسلایدر</h3>
            </div>
            <div class="widget-content">
            {% if form.errors %}
                <p>خطا در ورودی</p>
                {% endif %}
              <form data-validate="parsley" novalidate method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>

                  <div class="control-group">
                  <div class="col-md-9">
                                              {{ form.as_p }}
                                              <img src="{{object.image.thumbnail.url}}"></img>
                  </div>
                 
                </fieldset>
                <div class="form-actions">
                  <button class="btn btn-primary" type="submit">به روز رسانی</button>
                  <span><button href="#" class="btn btn-danger" type="submit" name="cancel">حذف کردن</button></span>
                </div>
              </form>

            </div>
          </div>
        </div>
        </div>
      </div>

    </div>

{% endblock %}

