<!-- START RESERVATION -->
		<section id="reservation" class="contact_area section-padding" style="background-image: url({% static 'radhuni/assets/img/bg/reservation-bg.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2 class="section-title-white">رزرواسیون</h2>
					</div>					
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="contact">
							<form id="contact-form" method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="form-group col-md-6">
										<i class="fa fa-user"></i>
										<input type="text" class="form-control" placeholder=" تعداد افراد" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-6">
										<i class="fa fa-user"></i>
										<input type="text" class="form-control" placeholder=" نام" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-6">
										<i class="fa fa-envelope-o"></i>
										<input type="email" class="form-control" placeholder="  ایمیل" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-6">
										<i class="fa fa-calendar"></i>
										<input type="text" class="form-control" placeholder=" تاریخ (dd/mm/yy)" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-6">
										<i class="fa fa-phone"></i>
										<input type="text" class="form-control" placeholder=" شماره تلفن" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-6">
										<i class="fa fa-clock-o"></i>
										<input type="text" class="form-control" placeholder=" ساعت (8.00 PM)" required="required">
									</div><!-- END COL -->	
									<div class="form-group col-md-12">
										<i class="fa fa-pencil"></i>
										<textarea rows="6" name="message" class="form-control" id="description" placeholder=" توضیحات" required="required"></textarea>
									</div><!-- END COL -->	
									<div class="col-md-12">
										<div class="actions">
											<button class="btn-contact-bg">رزرو کردن</button>
										</div>
									</div><!-- END COL -->	
								</div><!-- END ROW -->	
							</form>
						</div>
					</div><!-- END COL -->
				</div><!--- END ROW -->				
			</div><!--- END CONTAINER -->	
		</section>
		<!-- END RESERVATION -->