{% extends 'main1.html' %}
{% block content %}
{%load staticfiles%}

      <div class="page-content">
        <div class="content container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="page-title">داشبورد <small>محاسبات و غیره</small></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
              
                
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-header"> <i class="icon-warning-sign "></i>
                  <h3>پیام ها </h3>
                  </div>
                    <div class="widget-content">
        			       <div class="panel-body">
                        <div class="alert alert-success alert-block fade in">
                          <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                          <h4> <i class="icon-ok-sign"></i> موفقیت! </h4>
                          <p>این یک پیام صحیح است و وقتی کاری با موفقیت به اتمام می رسد، نمایش داده می شود...</p>
                        </div>
                        
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        </div>

{% endblock %}
