{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<!-- Bootstrap -->
<link href="{% static 'admin/css/bootstrap.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'admin/css/thin-admin.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'admin/css/font-awesome.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'admin/style/style.css' %}" rel="stylesheet">
<link href="{% static 'admin/style/dashboard.css' %}" rel="stylesheet">
<link rel='stylesheet' type='text/css' href="{% static 'admin/assets/jquery-fileupload/css/jquery.fileupload-ui.css'%} ">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../{% static 'admin/js/html5shiv.js' %}"></script>
      <script src="../../{% static 'admin/js/respond.min.js' %}"></script>
    <![endif]-->
<script>setInterval(function(){$.ajax({
    url: '{% url 'rating' %}',
    success: function(){
		alert('Vote successful!') ;
    	$("#rating").load('#rating');
    },
})
}, 5000);</script>

</head>

<body>

  {% block body %}
  {% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/smooth-sliding-menu.js' %}"></script>

<!--switcher html start-->
<div class="demo_changer active" style="left: 0px;">
  <div class="demo-icon"></div>
  <div class="form_holder">
    <div class="predefined_styles"> <a class="styleswitch" rel="a" href=""><img alt="" src="{% static 'admin/images/a.jpg' %}"></a> <a class="styleswitch" rel="b" href=""><img alt="" src="{% static 'admin/images/b.jpg' %}"></a> <a class="styleswitch" rel="c" href=""><img alt="" src="{% static 'admin/images/c.jpg' %}"></a> <a class="styleswitch" rel="d" href=""><img alt="" src="{% static 'admin/images/d.jpg' %}"></a> <a class="styleswitch" rel="e" href=""><img alt="" src="{% static 'admin/images/e.jpg' %}"></a> <a class="styleswitch" rel="f" href=""><img alt="" src="{% static 'admin/images/f.jpg' %}"></a> <a class="styleswitch" rel="g" href=""><img alt="" src="{% static 'admin/images/g.jpg' %}"></a> <a class="styleswitch" rel="h" href=""><img alt="" src="{% static 'admin/images/h.jpg' %}"></a> <a class="styleswitch" rel="i" href=""><img alt="" src="{% static 'admin/images/i.jpg' %}"></a> <a class="styleswitch" rel="j" href=""><img alt="" src="{% static 'admin/images/j.jpg' %}"></a> </div>
  </div>
</div>

<!--switcher html end-->
<script src="{% static 'admin/assets/switcher/switcher.js' %}"></script>
<script src="{% static 'admin/assets/switcher/moderziner.custom.js' %}"></script>
<link href="{% static 'admin/assets/switcher/switcher.css' %}" rel="stylesheet">
<link href="{% static 'admin/assets/switcher/switcher-defult.css' %}" rel="stylesheet">
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/a.css' %}" title="a" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/b.css' %}" title="b" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/c.css' %}" title="c" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/d.css' %}" title="d" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/e.css' %}" title="e" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/f.css' %}" title="f" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/g.css' %}" title="g" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/h.css' %}" title="h" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/i.css' %}" title="i" media="all" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'admin/assets/switcher/j.css' %}" title="j" media="all" />

<!--ckedtor javascript-->
<script type='text/javascript' src="{% static 'admin/ckeditor/ckeditor.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/ckeditor/adapters/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/ckeditor/build-config.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/ckeditor/styles.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/ckeditor/config.js' %}"></script>
<script>CKEDITOR.replace( 'editor1' );</script>
<script>CKEDITOR.replace( 'editor2' );</script>
<script>CKEDITOR.replace( 'editor3' );</script>
<script>CKEDITOR.replace( 'editor4' );</script>
<!--<script type='text/javascript' src="{% static 'admin/js/jquery-1.10.2.min.js' %}"></script>-->
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/vendor/jquery.ui.widget.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/tmpl.min.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/load-image.min.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/canvas-to-blob.min.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.blueimp-gallery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-process.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-image.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-audio.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-video.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-validate.js' %}"></script>
<script type='text/javascript' src="{% static 'admin/assets/jquery-fileupload/js/jquery.fileupload-ui.js' %}"></script>


</body>
</html>
