 <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-envelope"></i> <span class="badge">{{orderc}}</span> </a>
        <ul class="dropdown-menu extended notification">
          <li class="title">
            <p>شما {{orderc}} سفارش جدید دارید</p>
          </li>