{% extends 'base.html' %}
{% block body %}
{%load staticfiles%}
<div class="container">
  <div id="post_ref" class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-right"> <a href="{% url 'cpanel' %}"><img src="{% static 'admin/images/logo.png' %}" width="147" height="33"></a></div>
    <ul class="nav navbar-nav navbar-left  hidden-xs">

         <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-envelope"></i> <span class="badge">{{orderc}}</span> </a>
        <ul class="dropdown-menu extended notification">
          <li class="title">
            <p>شما {{orderc}} سفارش جدید دارید</p>
          </li>
     
        
          <li class="footer"> <a href="{% url 'order' %}">نمایش تمام پیام ها</a> </li>
        </ul>
      </li>
      <li class="dropdown user  hidden-xs"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-male"></i> <span class="username">{{ user.get_username }}</span> <i class="icon-caret-down small"></i> </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'update_profile' pk=1 %}" > <i class="icon-user"></i> پروفایل من</a></li>
          <li><a href="fullCalendar.html"><i class="icon-calendar"></i> تقویم من</a></li>
          <li><a href="#"><i class="icon-tasks"></i> وظایف من</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'logout' %}"><i class="icon-key"></i> خروج</a></li>
        </ul>
      </li>
    </ul>
    <form class="pull-left" >
      <input type="search" placeholder="جستجو..." class="search" id="search-input">
    </form>
  </div>
</div>
<div class="wrapper">
      <div class="left-nav" style="height:100vh">
        <div id="side-nav">
          <ul id="nav">
            <li ><a href="#">تنظیمات سایت</a> </li>
            <li ><a href="{%url 'cpanel'%}"> <i class="icon-dashboard"></i> داشبورد</a> </li>

            <li> <a href="#"> <i class="icon-desktop"></i> ویژگی های UI <span class="label label-info pull-right"></span> <i class="arrow icon-angle-left"></i></a>
              <ul class="sub-menu">
                <li> <a href="{% url 'slider' %}"> <i class="icon-angle-right"></i> اضافه کردن اسلایدر </a> </li>
                <li> <a href="{% url 'slider_edit' %}"> <i class="icon-angle-right"></i> ادیت اسلایدر ها </a> </li>
              </ul>
            </li>
            <li> <a href="#"> <i class="icon-fire"></i> محصولات <span class="label label-info pull-right"></span> <i class="arrow icon-angle-left"></i></a>
              <ul class="sub-menu">
                <li> <a href="{% url 'food' %}"> <i class="icon-angle-right"></i> اضافه کردن محصولات  </a> </li>
                <li> <a href="{% url 'food_edit' %}"> <i class="icon-angle-right"></i> ادیت محصولات  </a> </li>
              </ul>
            </li>
              

            <li> <a href="#"> <i class="icon-picture"></i> گالری <span class="label label-info pull-right"></span> <i class="arrow icon-angle-left"></i></a>
              <ul class="sub-menu">
                <li> <a href="{% url 'gallery' %}"> <i class="icon-angle-right"></i> اضافه کردن گالری </a> </li>
                <li> <a href="{% url 'gallery_edit' %}"> <i class="icon-angle-right"></i> ادیت گالری </a> </li>
              </ul>
            </li>

            <li><a href="{% url 'update_service' pk=1 %}" > <i class="icon-cogs"></i> سرویس ها </a></li>
              
            <li> <a href="#"> <i class="icon-rss"></i> بلاگ <span class="label label-info pull-right"></span> <i class="arrow icon-angle-left"></i></a>
              <ul class="sub-menu">
                <li> <a href="{% url 'update_blog' pk=1%}"> <i class="icon-angle-right"></i> بلاگ ۱ </a> </li>
                <li> <a href="{% url 'update_blog' pk=2%}"> <i class="icon-angle-right"></i> بلاگ ۲</a> </li>
              </ul>
            </li>
              <li><a href="{% url 'update_testimonial' pk=1 %}" > <i class="icon-user-md"></i>مشتریان راضی </a></li>
              <li><a href="{% url 'update_about' pk=1 %}" > <i class="icon-info-sign"></i>درباره ما </a></li>
        </ul>

        </div>
      </div>
  {% block content %}
  {% endblock %}
 </div>
 

 <div class="bottom-nav footer"> 2017 &copy; Admin by SAMAREDUCATION. </div>

{% endblock %}
