{% extends 'main1.html' %}
{% block content %}
{%load staticfiles%}
<div class="page-content">
      <div class="row">
       <div class="row">
            <div class="col-lg-12">
              <h2 class="page-title">آرشیو سفارشات <small>سفارشات  و تاریخچه</small></h2>
            </div>
          </div>
        <div class="col-md-12">
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>سفارشات</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered" id="orders">
                <thead>
                  <tr>
                    <th> نام سفارش </th>
                    <th> تعداد</th>
                    <th> صندلی</th>
                    <th> تاریخ</th>
                    <th> ساعت</th>
                    <th class="td-actions"> تایید</th>
                  </tr>
                </thead>
                <tbody>
              {% if order %}
                {% for i in object_list reversed%}
                  {% if  i.archive%}
                  <tr>
                  
                    <td>{{i.orderfood.title}}</td>
                    <td>{{i.foodcount}} </td>
                    <td>{{i.chairnum}} </td>
                    <td>{{i.date}} </td>
                    <td>{{i.time}} </td>
                    <td class="td-actions"><a class="btn btn-danger btn-small" href="{%url 'deletearchive' pk=i.pk%}"><i class="btn-icon-only icon-remove"> </i></a></td>

                  </tr>
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
              {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info"> قبلی</a>
                        {% endif %}
                        <span class="page-current">
                            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info"> بعدی</a>
                        {% endif %}
                    </span>
                </div>
                  {% endif %}
              {% else %}
                  <h3>در خواست</h3>
                  <p>تمام درخواست ها بررسی شد!!! :)</p>
              {% endif %}
            </div>
            <!-- /widget-content --> 
          </div>
        </div>
      
        <!--
        <div class="col-md-12">
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>آرشیو سفارشات</h3>
            </div>
         
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th> نام سفارش </th>
                    <th> تعداد</th>
                    <th> صندلی</th>
                    <th> تاریخ</th>
                    <th> ساعت</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> تست الف </td>
                    <td>123 </td>
                    <td>123 </td>
                    <td>123 </td>
                    <td>123 </td>

                  </tr>
                  <tr>
                    <td> تست ب </td>
                    <td>123 </td>
                    <td>123 </td>
                    <td>123 </td>
                    <td>123 </td>

                  
                </tbody>
              </table>-->
            </div>
            <!-- /widget-content --> 
          </div>
        </div>

</div>
</div>
      
{% endblock %}