{% extends "base.html" %}
{%load staticfiles%}


{% block content %}

<div class="login-logo">
    <img src="{% static 'admin/images/logo.png' %}" width="147" height="33"> 
</div>
<div class="widget">
<div class="login-content">
  <div class="widget-content" style="padding-bottom:0;">   
                {% if form.errors %}
                <p>نام کاربری با رمز عبور اشتباه است. دوباره تلاش کنید</p>
                {% endif %}
          
                <form method="post" action="{% url 'login' %}" class="no-margin">
                    {% csrf_token %}
                     <h3 class="form-title">ورود به سیستم</h3>
                     <fieldset>
                        <div class="form-group no-margin">
                            <label for="email">نام کاربری</label>

                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                               
                                    {{ form.username }} 
                              
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="password">رمز عبور</label>

                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                <div class="form-control input-lg" id="password"> 
                                    {{ form.password }} 
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <label class="checkbox">
                                <div class="checker"><span><input type="checkbox" value="1" name="remember"></span></div> به خاطر سپردن
                                </label>
                                    <button class="btn btn-warning pull-right" type="submit">
                                    ورود <i class="m-icon-swapright m-icon-white"></i>
                                    </button> 
                                <div class="forgot"><a href="#" class="forgot">رمز عبور خود را فرامش کردم?</a></div> 
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>          
            </div>
            
            
            </form>
  
  
  </div>
   </div>
</div>



{% endblock %}
