{% extends 'main.html' %}
{% block content %}
{% load staticfiles %}
{% load jformat %}
<!-- START PRELOADER -->
		<div class="preloader">
			<div class="status">
				<div class="status-mes"></div>
			</div>
		</div>
		<!-- END PRELOADER -->
		
		<!-- START NAVBAR -->
		<div class="navbar navbar-default navbar-fixed-top menu-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a href="#" class="navbar-brand"><img src="{% static 'radhuni/assets/img/logo.png' %}" alt="logo"></a>
                </div>
                <div class="navbar-collapse collapse">
					<nav>
						<ul class="nav navbar-nav navbar-right">
							<li><a class="page-scroll" href="#about">درباره ما</a></li>
							<li><a class="page-scroll" href="#blog">بلاگ</a></li>
							<li><a class="page-scroll" href="#gallery">گالری</a></li>		
						<!--	<li><a class="page-scroll" href="#reservation">رزرواسیون</a></li>-->
							
							<li><a class="page-scroll" href="#menu">محصولات</a></li>
							
							<li><a class="page-scroll" href="#home">خانه</a></li>
						</ul>
					</nav>
                </div> 
            </div><!--- END CONTAINER -->
        </div> 
		<!-- END NAVBAR -->	
	
		<!-- START SlIDER -->	
		<section id="home">
			<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
				{% for i in images%}
				  <div class="{% if i.activeslider %}item active {% else %}item{% endif %}"  style="background-image: url({{i.image.large.url}})">
					<div class="caption">
					  <h2 class="animated fadeInDownBig">{{i.title}}</h2>
					  <p class="animated fadeInLeftBig">{{i.text|safe|escape}}</p>
					  <a data-scroll class="btn btn-default btn-light-bg animated fadeInUpBig page-scroll" href="#menu">محصولات</a>
					</div>
				  </div>
				 {%endfor%}
				 </div>
			
				 
				
				<a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		 </section>
		<!-- END SlIDER -->
		
		

		<!-- START MENU PORTFOLIO -->
		<section id="menu" class="our_menu">
			<div class="container">
				<!-- PORTFOLIO FILTER BUTTONS -->	
				<div class="row">	
					<div class="section-title text-center wow zoomIn">
						<h2>محصولات</h2>
					</div>				
					<div class="col-xs-12 text-center">
						<ul class="portfolio-filters">
							<li class="filter active" data-filter="all">همه</li>
							<li class="filter" data-filter="coffee">محصولات</li>
							<li class="filter" data-filter="tea">محصولات</li>
							<li class="filter" data-filter="breakfast">محصولات</li>
							<li class="filter" data-filter="meal">محصولات</li>
							<li class="filter" data-filter="drink">محصولات</li>
						</ul>						
					</div><!-- END COL -->
				</div><!-- END ROW -->
				{%for i in foods%}
				<div class="row" align="center">
					<ul class="portfolio-items-list">
						<li class="col-md-4 col-sm-6 col-xs-12 menu-item {{i.food}}">
							<div class="grid">
								<div class="hover-overlay"> 			
									<figure class="effect-sadie">
										<img class="img-responsive" src="{{ i.image.thumbnail.url }}" alt=""/>
										<figcaption>
											<a class="" href="#" title="{{i.title}}"></a>
										</figcaption>			
									</figure>
									<h4>{{i.title}}</h4>
									
								</div>
							</div>
						</li><!-- END PORTFOLIO IMAGE -->
					</ul>
				</div><!-- END ROW  -->
				{%endfor%}
			</div><!-- END CONTAINER  -->
		</section>
		<!-- END MENU PORTFOLIO -->		
		
		

		
		
		<!-- START THE GALLERY -->
		<div id="gallery" class="the_gallery">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2>گالری</h2>
					</div>
					{%for i in galleries%}
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="grid">			
							<figure class="effect-sadie">
								<img class="img-responsive" src="{{ i.image3.thumbnail.url }}" alt=""/>
								<figcaption>
									<a class="prettyPhoto image_zoom" href="{% static 'radhuni/assets/img/gallery/1.jpg' %}" title="Menu Name"></a>
								</figcaption>			
							</figure>
						</div><!-- END PORTFOLIO IMAGE -->
					</div><!-- END COL -->
					{%endfor%}
				</div><!--- END ROW -->	
			</div><!--- END CONTAINER -->
		</div><!--- END CONTAINER -->
		<!-- END THE GALLERY -->

		<!-- START BLOG -->
		<section id="blog" class="home_blog section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>آخرین بلاگ</h2>
					</div>	
					{%for i in blogs%}
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="home_single_blog">
							<img class="blog-photo" alt="" src="{{i.image.large.url}}"/>
							<div class="home_blog_text text-center wow fadeInLeft">				 
								<span>{{i.date|jformat:"%A %d %B %Y "}}</span>
								<h4>{{i.title}}</h4>
								 <p>{{i.text|safe|escape}}</p>
							</div>
						</div><!--- END SINGLE BLOG POST -->
					</div><!--- END COL -->
					{%endfor%}
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END BLOG -->
		
		<!--- START TESTIMONIAL -->		
		<section class="testimonials section-padding" style="background-image: url({% static 'radhuni/assets/img/bg/testimonial-bg.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;">
            <div class="container">
            	{%for i in testimonials%}
                <div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2 class="section-title-white">مشتریان راضی</h2>
					</div>					
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay=".2s">
                            <ul class="slides">
                                <li>
                                    <div class="testi-slider-item active">
                                         {{i.text|safe}}
                                        <img src="{% static 'radhuni/assets/img/testimonial/1.jpg' %}" alt="">
                                        <h6>{{i.name}}<span class="colored-text"></span></h6>
                                    </div>
                                </li><!--SINGLE SLIDE-->
                                <li>
                                    <div class="testi-slider-item">
                                         {{i.text1|safe}}
                                        <img src="{% static 'radhuni/assets/img/testimonial/2.jpg' %}" alt="">
                                        <h6>{{i.name1}}<span class="colored-text"></span></h6>
                                    </div>
                                </li><!--SINGLE SLIDE-->
                            </ul><!--- END SLIDES -->
                        </div><!--- END FLEXSLIDER -->
                    </div><!--- END COL -->
                </div><!--- END ROW -->
                {%endfor%}
            </div><!--- END CONTAINER -->		       
        </section>
		<!--- END TESTIMONIAL -->

		<!-- START OUR STORY -->	
		{% for i in about %}
		<section id="about" class="about-us section-padding">
			<div class="container">
				<div class="row">	
					<div class="section-title text-center">
						<h2>درباره ما</h2>
					</div>	
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about-us-content">
							<h2>درباره <span>محصولات</span> ما</h2>
							<div class="about-line"></div>
							<p>{{i.text|safe}}</p>
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about_img">
							<div class="carousel slide" data-ride="carousel" data-interval="9999999">
								<div class="carousel-inner text-center">
								  <!-- Item 1 -->
								  <div class="item active">
									<div class="cover-container">
									  <img src="{{i.image.large.url}}" class="img-responsive" alt="" />
									</div>
								  </div>
								  
								</div>
							</div>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END OUR STORY  -->
		
		<!-- START MAP -->
		<div id="map"></div>
		<!-- END MAP -->
		
		<!-- START FOOTER TOP -->
		<section class="footer_top section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_footer">
							<h4>اطلاعات تماس:</h4>
							<p>{{i.address|safe}}</p>
							<ul class="contact_address">
								<li><i class="fa fa-rocket"></i>Shiraz, Fars Province</li>
								<li><i class="fa fa-phone"></i>07136206250</li>
								<li><i class="fa fa-envelope"></i>info@ole.cafe</li>
							</ul>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_footer">
							<h4>ساعات کار:</h4>
							<ul class="opening-times">
								<li>دوشنبه<span> 9AM–12PM 5–11PM</span></li>
								<li>سه شنبه<span> 9AM–12PM 5–11PM</span></li>
								<li>چهار شنبه<span> 9AM–12PM 5–11PM</span></li>
								<li>پنج شنبه<span> 9AM–12PM 5–11PM</span></li>
								<li>جمعه<span> 9AM–12PM 5–11PM</span></li>
								<li>شنبه<span> 9AM–12PM 5–11PM</span></li>
								<li>یکشنبه<span> 9AM–12PM 5–11PM</span></li>
							</ul>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_footer">
							<h4>خبرنامه</h4>
							<p>ارسال جدیدترین اخبار</p>
							<!-- START MAILCHIMP SIGNUP FORM -->
							<div class="signup">
								<div id="mc_embed_signup">
									<!-- Replace the form action in the line below with your MailChimp embed action! -->
									<form action="" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
										<input type="email" name="EMAIL" class="form-control" id="mce-email" placeholder="آدرس ایمیل...">
										<span class="input-group-btn">
											<button type="submit" name="subscribe" class="btn btn-default btn-newsletter-bg">اشتراک!</button>
										</span>
										<div id="mce-responses">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
									</form>
								</div>
							</div>
							<!-- END MAILCHIMP SIGNUP FORM -->
						</div>						
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->		  
		</section>
		<!-- END FOOTER TOP -->
		
		
		<!-- START FOOTER BOTTOM -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
						<p class="footer_copyright pull-left">SAMAREDUCATION &copy; 2017 All Rights Reserved.</p>						
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
						<div class="footer_social pull-right">
							<ul>
								<li><a class="footer_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="footer_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="footer_google" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="footer_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a class="footer_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a class="footer_skype" href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
						</div>					
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</footer>
		<!-- END FOOTER BOTTOM-->	
		<script>
			function myMap() {
			  var mapCanvas = document.getElementById("map");
			  var mapOptions = {
			    center: new google.maps.LatLng({{i.location}}), zoom: 10
			  };
			  var map = new google.maps.Map(mapCanvas, mapOptions);
			}
			</script>

		{% endfor %}	

		<!--	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHMqZDKRluujC84t2_3rQ1yQlqodPSbZs&callback=initMap"
  type="text/javascript"></script> -->
		{% endblock %}