{%load staticfiles%}
<!DOCTYPE html>
<html lang="fa" dir="rtl"> 

	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- SITE TITLE -->
		<title>My Products </title>			
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="{% static 'radhuni/assets/bootstrap/css/bootstrap.min.css' %}">		
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700%7CDroid+Serif:400,400italic,700,700italic" rel='stylesheet' type='text/css'>
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="{% static 'radhuni/assets/fonts/font-awesome.min.css' %}">
		<!--- owl carousel Css-->
		<link rel="stylesheet" href="{% static 'radhuni/assets/owlcarousel/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'radhuni/assets/owlcarousel/css/owl.theme.css' %}">	
	    <!--Flex slider-->
        <link href="{% static 'radhuni/assets/css/flexslider.css' %}" rel="stylesheet">	
	    <!--prettyPhoto CSS-->
        <link href="{% static 'radhuni/assets/css/prettyPhoto.css' %}" rel="stylesheet">		
		<!-- animate CSS -->		
		<link rel="stylesheet" href="{% static 'radhuni/assets/css/animate.css' %}">		
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'radhuni/assets/css/style.css' %}">		 		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
		<![endif]-->
	</head>
	
    <body data-spy="scroll" data-offset="80">
    	{% block content %}
        {% endblock %}
			
		<!-- Latest jQuery -->
			<script src="{% static 'radhuni/assets/js/jquery-1.12.4.min.js' %}"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="{% static 'radhuni/assets/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- modernizr JS -->		
			<script src="{% static 'radhuni/assets/js/modernizr-2.8.3.min.js' %}"></script>	
		<!-- jquery flexslider min js -->
			<script src="{% static 'radhuni/assets/js/jquery.flexslider-min.js' %}"></script>						
		<!-- owl-carousel min js  -->
			<script src="{% static 'radhuni/assets/owlcarousel/js/owl.carousel.min.js' %}"></script>		
		<!-- jquery mixitup min js -->
			<script src="{% static 'radhuni/assets/js/jquery.mixitup.js' %}"></script>			
		<!-- jquery prettyPhoto js -->
			<script src="{% static 'radhuni/assets/js/jquery.prettyPhoto.js' %}"></script>		
		<!-- scrolltopcontrol js -->
			<script src="{% static 'radhuni/assets/js/scrolltopcontrol.js' %}"></script>			
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="{% static 'radhuni/assets/js/wow.min.js' %}"></script>
		<!-- map js -->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>
			
		<!-- scripts js -->
			<script src="{% static 'radhuni/assets/js/scripts.js' %}"></script>
    </body>
</html>