{% extends 'main.html' %}
{% block content %}
{% load staticfiles %}
{% load jformat %}
<!-- START PRELOADER -->
		<div class="preloader">
			<div class="status">
				<div class="status-mes"></div>
			</div>
		</div>
		<!-- END PRELOADER -->
		
		<!-- START NAVBAR -->
		<div class="navbar navbar-default navbar-fixed-top menu-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a href="#" class="navbar-brand"><img src="{% static 'radhuni/assets/img/logo.png' %}" alt="logo"></a>
                </div>
        </div> 
        </div>
		<!-- END NAVBAR -->	
        <section class="radhuni_service section-padding" >
         <div class="container">
         <div class="row text-center">
         <div class="section-title wow zoomIn">
						<h2>سفارش</h2>												
					</div>
		<div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">

         <div align="center"><image src="{{food.image.thumbnail.url}}" ></image>
         <p>نام : {{food.title}}</p>
         <p>قیمت : {{food.price}} تومان</p>
         <p>توضیح : {{food.text|safe}} </p>
        <div>
        <form  method="POST" >{% csrf_token %}
        	{{ form.as_p }}
           	<button class="btn btn-success" type="submit">ثبت سفارش</button>

        </form>
        	<a href="{% url 'post_list' %}" class="btn btn-danger" type="submit" >بارگشت</a>
        </div>
        </div>
        </div>
        </div>
        
        </section>
{% endblock %}